body, #root, HTML {
    height: 100%
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#the-boxes {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 2px;
}